﻿html,
body {
    padding-top: 0px;
}

section {
    padding: 100px;
}

.cover {
    height: 66vh;
    background: url('../img/01_Background.png') top left no-repeat;
    background-size: cover;
    display: table;
    width: 100%;
    padding: 0 20%;
    box-shadow: inset 0 0 100px #000;
}

.cover-text {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

    .cover-text h1 {
        margin: 0;
        font-size: 70px;
        letter-spacing: -3px;
    }

.navbar-custon {
    background: rgba(0,0,0,0.5);
    border: none;
}

.testimonials {
    background: #222;
}

blockquote {
    border: none;
    margin: 0;
    font-family: Georgia,'Times New Roman',serif;
    font-style: italic;
    font-size: 32px;
    color: white;
}

    blockquote cite {
        display: block;
        text-align: right;
        text-transform: uppercase;
        font-family: Helvetica,Arial, sans-serif;
        font-style: normal;
        font-size: 18px;
        font-weight: bold;
        color: #888;
        margin-top: 40px;
    }

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    margin: 0 0 60px;
}

    h2 + p {
        text-align: center;
        margin-top: -60px;
    }

#team {
    background: url(../img/02_Team.png) top left no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}
footer{
    background:#222;
    color:white;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif
}
footer a{
    color:hotpink;

}
/*Start Solve page*/
#solve{
   min-height:98.2vh;
   
}
#operatorsDiv{
    margin-bottom:20px;
    font-size:40px;
}
#operatorsDiv span{
    margin-left:10px;
    margin-right:10px;
    cursor: pointer; 
    cursor: hand;
}
/*End solve page*/
/*Login and register Modal */

.panel-login {
	
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #59B2E0;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}


/*END Login and Register Modal*/
/* Media QUaries */

@media only screen and (max-width : 568px){
    .cover h1{
        font-size:40px;
    }
    section{
        padding:20px;
    }
}